# %PLAY_NAME%

%PLAY_DESCRIPTION%

## Play Demographic

- Language: %PLAY_LANGUAGE%
- Level: %PLAY_LEVEL%

## Creator Information

- User: %PLAY_GITHUB%
- Gihub Link: https://github.com/%PLAY_GITHUB%
- Blog: %PLAY_BLOG%
- Video: %PLAY_VIDEO%

## Implementation Details

Update your implementation idea and details here

## Consideration

Update all considerations(if any)

## Resources

Update external resources(if any)
