{
  "name": "%PLAY_TITLE_NAME_SANITIZED%",
  "version": "1.0.0",
  "description": "%PLAY_DESCRIPTION%",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [],
  "author": "%PLAY_GITHUB%",
  "license": "MIT"
}
